* {
    margin: 0;
    padding: 0;
}
body {
    background: url('./moon.png') no-repeat center;
    background-size: cover;
    height: 100vh;
}
section {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
span {
    margin: 15rem 20px 0;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 4px 5px #111111;
    font-weight: bold;
    display: block;
}
span::after{
    margin-left: 10px;
}
span:nth-child(1)::after {
    content: 'Day'
}
span:nth-child(2)::after {
    content: 'Hours'
}
span:nth-child(3)::after {
    content: 'Minute'
}
span:nth-child(4)::after {
    content: 'Seconds'
}