* {
    margin: 0;
    padding: 0;
}
body {
    background: url('./moon.png') no-repeat center;
    background-size: cover;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
span {
    display: block;
    margin: 8em 10px 0;
    font-size: 2.1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-shadow: 5px 5px 8px #111111;
    position: relative;
}
span:after {
    content: ':';
    padding-left: 20px;
}
span:last-child:after {
    content: '';
}
span:nth-child(1)::before {
    content: 'Day';
    position: absolute;
    top: 35px;
    left: 10px;
    font-size: 15px;
}
span:nth-child(2)::before {
    content: 'Hours';
    position: absolute;
    top: 35px;
    left: 0px;
    font-size: 15px;
}
span:nth-child(3)::before {
    content: 'Minute';
    position: absolute;
    top: 35px;
    left: -2px;
    font-size: 15px;
}
span:nth-child(4)::before {
    content: 'Seconds';
    position: absolute;
    top: 35px;
    left: -10px;
    font-size: 15px;
}
